<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<meta charset="UTF-8">
	<title>SBStats | Home</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="/images/favicon.png">
	<link href="/style/style.css" rel="stylesheet">

    <!-- Primary Meta Tags -->
    <meta name="title" content="SkyblockStats - Home">
    <meta name="description" content="SkyblockStats aims to provide a user-friendly interface to the Hypixel API with an elegant website.">
    <meta property="og:image" content="https://sbs.gabhas.fr/images/favicon.png">

    <!-- Open Graph & Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://sbs.gabhas.fr/" >
    <meta property="og:title" content="SkyblockStats - Home">
    <meta property="og:description" content="SkyblockStats aims to provide a user-friendly interface to the Hypixel API with an elegant website.">
    <meta property="og:image" content="https://sbs.gabhas.fr/images/favicon.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://sbs.gabhas.fr/">
    <meta property="twitter:title" content="SkyblockStats aims to provide a user-friendly interface to the Hypixel API with an elegant website.">
    <meta property="twitter:image" content="https://sbs.gabhas.fr/images/favicon.png">
</head>
<body>
<div id="video-container">
	<video id="background-video" playsinline autoplay muted loop>
		<source src="/video/background.mp4" type="video/mp4">
		Your browser does not support the video tag.
	</video>
</div>
<div class="flex-wrapper">
	<div id="home-form" class="grid-container">
		<div id="title-div">
			<h1 class="center">Skyblock Stats Viewer</h1>
			<h3 class="center">by <a href="https://gabhas.fr/">GabHas</a></h3>
			{% if message != None %}
				<p class="center error-message">{{ message }}</p>
			{% endif %}
			<noscript>
				<p class="center error-message">Javascript must be enabled for this website to work properly.</p>
			</noscript>
		</div>

		<form method="get" id="player-form">
			<div id="search-bar-container">
				<label for="player-name-input" class="center">Enter an username</label> <!-- Pleasing the W3C -->
				<input id="player-name-input" autofocus required type="search" placeholder="Username..." maxlength="16">
			</div>
			<div id="search-btn">
				<button id="send-player" type="submit">🔍</button>
			</div>
		</form>
	</div>
</div>
<footer>
	<div class="flex-wrapper">
		<a href="/info">More information</a>
	</div>
</footer>
<script>
    document.getElementById("player-form").addEventListener("submit", () => {
        const myForm = document.getElementById("player-form");
        const field = document.getElementById("player-name-input");

        myForm.action = "/p/" + field.value.toString();
    });
</script>
</body>
</html>