<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>{{ player_name }} | SBStats</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex">
    <link rel="icon" href="{{ skin_link }}">
    <link href="/style/style.css" rel="stylesheet">
    <link href="/style/tooltip.css" rel="stylesheet">

    {% include "components/meta-header.html" %}

</head>
<body>

<div id="core-content">
<a href="/" target="_self">Home</a>

{% if api_warning == True %}
    <h3 class="center text-shadow color-4 blurry-bg">
        Some data couldn't be retrieved. This is usually because the in-game API settings are turned off.
    </h3>
{% endif %}

<div id="head-section">
    {% include "components/profile.html" %}
</div>

<div id="navbar" role="navigation">
    {% include "components/navbar.html" %}
</div>

<div id="skills-stats" class="stats-div">
	<h2 class="section-title center">Skills & Level</h2>

    {% if leveling_data != None %}
        {% include "components/skills.html" %}
    {% else %}
        <h3 class="center">Skills data not found for this player.</h3>
    {% endif %}
</div>

<div id="slayer-stats" class="stats-div">
	<h2 class="section-title center">Slayer</h2>

    {% if slayer_data != None %}
        {% include "components/slayer.html" %}
    {% else %}
        <h3 class="center">Slayer data not found for this player.</h3>
    {% endif %}
</div>

<div id="rift-stats" class="stats-div">
	<h2 class="section-title center">Rift</h2>

    {% if rift_data != None %}
        {% include "components/rift.html" %}
    {% else %}
        <h3 class="center">Rift data not found for this player.</h3>
    {% endif %}
</div>

<div id="misc-stats" class="stats-div">
	<h2 class="section-title center">Miscellaneous</h2>

    {% if misc_data != None %}
        {% include "components/misc.html" %}
    {% else %}
        <h3 class="center">Misc data not found for this player.</h3>
    {% endif %}
</div>

<div id="trophy-stats" class="stats-div">
	<h2 class="section-title center">Trophy Fishing</h2>

    {% if trophy_data != None %}
        {% include "components/trophy-fish.html" %}
    {% else %}
        <h3 class="center">Trophy fishing data not found for this player.</h3>
    {% endif %}
</div>

<div id="chocolate-stats" class="stats-div">
    <h2 class="section-title center">Chocolate Factory</h2>

    {% if chocolate_data != None and chocolate_data != {} %}
        {% include "components/chocolate-factory.html" %}
    {% else %}
        <h3 class="center">Chocolate Factory data not found for this player.</h3>
    {% endif %}
</div>

<div id="jacob-stats" class="stats-div">
    <h2 class="section-title center">Jacob Contests</h2>

    {% if jacob_data != None %}
        {% include "components/jacob.html" %}
    {% else %}
        <h3 class="center">Jacob Contest data could not be found for this player.</h3>
    {% endif %}
</div>

</div>
<script src="/script/app.js" type="application/javascript"></script>
</body>
</html>