@font-face {
    font-family: Minecraft;
    src: url("../font/minecraftia-regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Enchant;
    src: url("../font/minecraft-enchantment.ttf");
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*::selection {
    background-color: transparent;
    color: currentColor;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: Minecraft, sans-serif;

    /* Background image in case the video is blocked */
    background-image: url("../images/background-image.png");
    background-attachment: fixed;
    background-size: cover;
}

#background-video {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    overflow: hidden;
}

.flex-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 50px;
}

.center {
    text-align: center;
}

.error-message {
    color: #DA373C;
    overflow-wrap: break-word;
}

.red-border {
    border: 1px solid red;
}

#player-form {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 15px;
}

#send-player {
    margin-top: 5%;
}

#home-form {
    padding: 10px;
    border-radius: 5px;

    box-shadow: 6px 4px 20px -4px rgba(96,96,96,0.75);
    -webkit-box-shadow: 6px 4px 20px -4px rgba(96,96,96,0.75);
    -moz-box-shadow: 6px 4px 20px -4px rgba(96,96,96,0.75);

    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

#title-div {
    color: white;
    text-shadow: #000000 1px 0 10px;
}

a {
    text-decoration: none;
    color: #08ffae;
    --clr1: #50a15f;
    --clr2: #42b232;
    --clr3: #2fc73a;

    text-shadow: 0 0 5px var(--clr1),
        0 0 15px var(--clr1), 0 0 20px var(--clr1),
        0 0 40px var(--clr1), 0 0 60px var(--clr2),
        0 0 10px var(--clr3), 0 0 98px var(--clr2);
}

a:hover {
    color: #7affc8;
}

#player-form {
    display: grid;
    grid-template-columns: .8fr .1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: space-between;
}

#player-form > * {
    height: 50px;
    font-family: Minecraft, sans-serif;
}

label[for="player-name-input"] {
    display: none;
}

#player-name-input {
    height: 50px;
    width: 100%;
    border: none;
    border-radius: 5px;
    --bg-clr: rgba(40, 40, 40, 0.75);
    box-shadow: 6px 4px 20px -4px var(--bg-clr);
    -webkit-box-shadow: 6px 4px 20px -4px var(--bg-clr);
    -moz-box-shadow: 6px 4px 20px -4px var(--bg-clr);
    text-align: center;
    font-size: 14pt;
    font-family: "Courier New", sans-serif;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
}

#player-name-input:focus {
    outline: none;
}

#search-bar-container, #search-btn {
    display: flex;
    width: 100%;
    text-align: center;
}

#send-player {
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 5px;
    background-color: #3cd040;
    color: white;
    font-size: 12pt;
}

@keyframes smooth-zoom {
    0% { transform: scale(1); }
    25% { transform: scale(1.04); }
    50% { transform: scale(1.08); }
    75% { transform: scale(1.12); }
    100% { transform: scale(1.16); }
}

#send-player:hover {
    background-color: #42e342;
    cursor: pointer;
    transform: scale(1.1);
    animation: smooth-zoom 1.2s linear infinite alternate;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

/* Stats page */
#core-content {
    position: absolute;
    width: 100%;
    max-height: 100%;
    overflow-y: scroll;
    padding: 10px;

    margin-inside: 2.5%;
}

.white-text, .section-title,
.stats-div > *, #profile-selector {
    color: white;
    text-shadow: #000000 1px 0 10px;
}

.text-shadow {
    text-shadow: #000000 1px 0 10px;
}

#profile-selector {
    font-family: "Minecraft", sans-serif;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding-right: 10px;
    padding-left: 10px;
}

#slayer-cards, .slayer-boss-killed {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}

.icon-text {
    width: 100%;
    display: inline-flex;
    justify-content: center;
}

.icon-text img {
    margin-right: 10px;
}

.blurry-bg {
    background-color: rgba(9, 8, 8, 0.6);

    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

.slayer-boss-div {
    background-color: rgba(9, 8, 8, 0.6);
    color: white;

    border-radius: 5px;

    --bg-clr: rgba(255, 255, 255, 0.45);
    box-shadow: 6px 4px 20px -4px var(--bg-clr);
    -webkit-box-shadow: 6px 4px 20px -4px var(--bg-clr);
    -moz-box-shadow: 6px 4px 20px -4px var(--bg-clr);

    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

.slayer-separator {
    width: 40%;
    margin-left: 30%;
    border: 1px solid white;
    color: white;
}

.slayer-boss-killed {
    margin: 2.5% 10% 1.5%;
}

.slayer-title-container {
    margin-top: 5px;
}

#unlocked-timecharms {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

#trophy-fish-misc {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

#trophy-fish-count {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}

.fish-card {
    padding-top: 10px;
    border-radius: 5px;
    background-color: rgba(9, 8, 8, 0.6);

    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

.fish-card p, .fish-card h3 {
    white-space: nowrap;
}

.trophy-count {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
}

@media screen and (max-width: 1020px) {
    #trophy-fish-count {
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 978px) {
    #slayer-cards, .slayer-boss-killed {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 715px) {
        #trophy-fish-count {
        grid-template-rows: repeat(9, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 650px) {
    #slayer-cards {
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(1, 1fr);
        height: min-content;
    }

    .slayer-boss-killed {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }

    #trophy-fish-count {
        grid-template-rows: repeat(18, 1fr);
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Info page */
.info-div {
    border-radius: 5px;
    padding-right: 10%;
    padding-left: 10%;
    margin-left: 10%;
    margin-right: 10%;
}

#credits-list {
    list-style-type: none;
    padding-left: 15px;
}

#license-toggle-container {
    cursor: pointer;
}

#license-container {
    visibility: hidden;
}