@font-face {
    font-family: Minecraft;
    src: url("../font/minecraftia-regular.ttf");
    font-weight: normal;
    font-style: normal;
    font-display: optional;
}

@font-face {
    font-family: Enchant;
    src: url("../font/minecraft-enchantment.ttf");
    font-weight: normal;
    font-style: normal;
    font-display: optional;
}

:root {
    --§4: #be0000;
    --§c: #fe3f3f;
    --§6: #d9a334;
    --§e: #fefe3f;
    --§2: #00be00;
    --§a: #3ffe3f;
    --§b: #3ffefe;
    --§3: #00bebe;
    --§1: #0000be;
    --§9: #3f3ffe;
    --§d: #fe3ffe;
    --§5: #be00be;
    --§f: #ffffff;
    --§7: #bebebe;
    --§8: #3f3f3f;
    --§0: #000000;
}

.color-4 { color: var(--§4); }
.color-c { color: var(--§c); }
.color-6 { color: var(--§6); }
.color-e { color: var(--§e); }
.color-2 { color: var(--§2); }
.color-a { color: var(--§a); }
.color-b { color: var(--§b); }
.color-3 { color: var(--§3); }
.color-1 { color: var(--§1); }
.color-9 { color: var(--§9); }
.color-d { color: var(--§d); }
.color-5 { color: var(--§5); }
.color-f { color: var(--§f); }
.color-7 { color: var(--§7); }
.color-8 { color: var(--§8); }
.color-0 { color: var(--§0); }

.bold { font-weight: bold; }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*::selection {
    color: currentColor;
    filter: invert(100%);
    background-color: white;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: "Minecraft", sans-serif;

    /* Background image in case the video is blocked */
    background-image: url("../images/background-image.png");
    background-attachment: fixed;
    background-size: cover;

    overflow-x: hidden;
}

#background-video {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    overflow: hidden;
}

.flex-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 50px;
}

.center {
    text-align: center;
}

.error-message {
    color: #DA373C;
    overflow-wrap: break-word;
}

.red-border {
    border: 1px solid red;
}

#player-form {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 15px;
}

#send-player {
    margin-top: 5%;
}

#home-form {
    padding: 10px;
    border-radius: 5px;

    box-shadow: 6px 4px 20px -4px rgba(96,96,96,0.75);
    -webkit-box-shadow: 6px 4px 20px -4px rgba(96,96,96,0.75);
    -moz-box-shadow: 6px 4px 20px -4px rgba(96,96,96,0.75);

    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

#title-div {
    color: white;
    text-shadow: #000000 1px 0 10px;
}

a {
    text-decoration: none;
    color: #08ffae;
    --clr1: #50a15f;
    --clr2: #42b232;
    --clr3: #2fc73a;

    text-shadow: 0 0 5px var(--clr1),
        0 0 15px var(--clr1), 0 0 20px var(--clr1),
        0 0 40px var(--clr1), 0 0 60px var(--clr2),
        0 0 10px var(--clr3), 0 0 98px var(--clr2);
}

a:hover {
    color: #7affc8;
}

#player-form {
    display: grid;
    grid-template-columns: .8fr .1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: space-between;
}

#player-form > * {
    height: 50px;
    font-family: "Minecraft", sans-serif;
}

label[for="player-name-input"] {
    display: none;
}

#player-name-input {
    height: 50px;
    width: 100%;
    border: none;
    border-radius: 5px;
    --bg-clr: rgba(40, 40, 40, 0.75);
    box-shadow: 6px 4px 20px -4px var(--bg-clr);
    -webkit-box-shadow: 6px 4px 20px -4px var(--bg-clr);
    -moz-box-shadow: 6px 4px 20px -4px var(--bg-clr);
    text-align: center;
    font-size: 14pt;
    font-family: "Courier New", sans-serif;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
}

#player-name-input:focus {
    outline: none;
}

#search-bar-container, #search-btn {
    display: flex;
    width: 100%;
    text-align: center;
}

#send-player {
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 5px;
    background-color: #3cd040;
    color: white;
    font-size: 12pt;
}

@keyframes smooth-zoom {
    0% { transform: scale(1); }
    25% { transform: scale(1.04); }
    50% { transform: scale(1.08); }
    75% { transform: scale(1.12); }
    100% { transform: scale(1.16); }
}

#send-player:hover, #rabbit-dashboard-btn:hover {
    background-color: #42e342;
    cursor: pointer;
    transform: scale(1.1);
    animation: smooth-zoom 1.2s linear infinite alternate;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

/* Stats page */
#core-content {
    position: absolute;
    width: 100%;
    max-height: 100%;
    overflow-y: scroll;
    padding: 10px;

    margin-inside: 2.5%;
}

#head-section-data {
    width: fit-content;
    margin: 0 auto;
    border-radius: 5px;
    padding: 5px;
}

.stats-div {
    padding-bottom: 10px;
    padding-left: 10px;
}

.white-text, .section-title,
.stats-div > *:not(p), #profile-selector {
    color: white;
    text-shadow: #000000 1px 0 10px;
}

.text-shadow {
    text-shadow: #000000 1px 0 10px;
}

#profile-selector {
    font-family: "Minecraft", sans-serif;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding-right: 10px;
    padding-left: 10px;
}

#skills-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.skill-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 20px;
    padding: 5px;
    border-radius: 5px;
}

.skill-container progress {
    width: 100%;
    display: flex;
    border-radius: 5px;
    border: none;
}

.skill-container progress::-moz-progress-bar,
.skill-container progress::-webkit-progress-value {
    background: linear-gradient(90deg, var(--§9) 19%, var(--§3) 95%);
}

.skill-progression {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
}

#slayer-cards, .slayer-boss-killed {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}

.slayer-boss-tier-killed {
    text-align: left;
}

.icon-text {
    width: 100%;
    display: inline-flex;
    justify-content: center;
}

.icon-text img {
    margin-right: 10px;
    transform: translateY(-2px);
}

.blurry-bg {
    background-color: rgba(9, 8, 8, 0.6);

    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

.slayer-boss-div {
    background-color: rgba(9, 8, 8, 0.6);
    color: white;

    border-radius: 5px;

    --bg-clr: rgba(255, 255, 255, 0.45);
    box-shadow: 6px 4px 20px -4px var(--bg-clr);
    -webkit-box-shadow: 6px 4px 20px -4px var(--bg-clr);
    -moz-box-shadow: 6px 4px 20px -4px var(--bg-clr);

    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

.slayer-separator {
    width: 40%;
    margin-left: 30%;
    border: 1px solid var(--§7);
    border-radius: 5px;
    color: var(--§7);
}

.slayer-boss-killed {
    margin: 2.5% 10% 1.5%;
}

.slayer-title-container {
    margin-top: 5px;
}

#unlocked-timecharms, #missing-timecharm {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    padding-bottom: 10px;
}

.rift-trophy-div,
#rift-stats .divider-2 div {
    border-radius: 5px;
}

#rift-stats .divider-2 {
    grid-column-gap: 10%;
}

#rift-stats .divider-2 > div {
    width: fit-content;
    padding-top: 10px;
    padding-bottom: 10px;
}

#misc-stats .divider-2 > div {
    border-radius: 5px;
}

#misc-stats .divider-2 > div,
.rift-trophy-div {
    padding-top: 10px;
    padding-bottom: 10px;
}

#rift-stats .divider-2 > div .icon-text,
#misc-stats .divider-2 > div .icon-text {
    width: 100%;
    padding-left: 5%;
    justify-content: left;
}

#trophy-fish-misc {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

#trophy-fish-count {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}

.fish-card {
    padding-top: 10px;
    border-radius: 5px;
    background-color: rgba(9, 8, 8, 0.6);

    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

.fish-card p, .fish-card h3 {
    white-space: nowrap;
}

.trophy-count {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
}

.divider-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    column-gap: 10px;
}

#chocolate-stats .divider-2 > div {
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 10px;
    padding-top: 10px;
    word-wrap: break-word;
    border-radius: 5px;
}

#chocolate-stats .divider-2 > div > p,
#chocolate-stats .divider-2 > div > .icon-text,
#chocolate-prod-breakdown {
    width: 100%;
    padding-left: 5%;
    justify-content: left;
}

#chocolate-prod-breakdown {
    padding-left: 10%;
}

#rabbit-collection-dashboard {
    width: 45%;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;

    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#rabbit-dashboard-rarity, #rabbit-dashboard-found {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.rabbit-dashboard-entry {
    width: calc(100%/3);
    display: flex;
    align-items: center;
}

.rabbit-dashboard-entry input {
    width: 25px;
    height: 25px;
    vertical-align: bottom;
    position: relative;
    top: -1px;
}

#rabbit-dashboard-btn {
    width: 100px;
    height: 50px;
    display: flex;
    margin: 10px auto 0;

    font-family: "Minecraft", sans-serif;
    color: white;
    background-color: #3cd040;
    border: none;
    border-radius: 4px;
    font-size: 12pt;
}

#jacob-stats .divider-2 > div {
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
}

#jacob-medals, #jacob-best .icon-text {
    padding-left: 5px;
}

#jacob-best-content .icon-text {
    width: 100%;
    padding-left: 5%;
    justify-content: left;
}

.medal-title {
    display: flex;
    justify-content: center;
}

.medal-title > span {
    padding-left: 3%;
}

.jacob-medal {
    width: auto;
    padding-left: 3px;
    padding-right: 3px;
}

.parenthesis::before {
    content: "(";
    color: var(--§8);
}
.parenthesis::after {
    content: ")";
    color: var(--§8);
}

.brackets::before {
    content: "[";
    color: var(--§8);
}
.brackets::after {
    content: "]";
    color: var(--§8);
}

@media screen and (max-width: 1450px) {
    #skills-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 1150px) {
    #trophy-fish-count {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 1020px) {
    #skills-container {
        grid-template-columns: 1fr;
    }

    .divider-2 {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .divider-2 > div {
        max-height: fit-content;
    }

    #rabbit-collection-dashboard {
        width: 80%;
    }
}

@media screen and (max-width: 978px) {
    #core-content {
        padding: 0;
        margin-inside: 0;
    }

    #slayer-cards, .slayer-boss-killed {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }

    #trophy-fish-count {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media screen and (max-width: 715px) {
    #unlocked-timecharms {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 650px) {
    #slayer-cards {
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(1, 1fr);
        height: min-content;
    }

    .slayer-boss-killed {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }

    #trophy-fish-count {
        grid-template-columns: repeat(1, 1fr);
    }

    .trophy-count {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto
    }

    #rabbit-collection-dashboard {
        width: 100%;
    }

    .rabbit-dashboard-entry {
        width: 100%;
    }
}

/* Info page */
.info-div {
    border-radius: 5px;
    padding-right: 10%;
    padding-left: 10%;
    margin-left: 10%;
    margin-right: 10%;
}

#credits-list {
    list-style-type: none;
    padding-left: 15px;
}

#license-toggle-container {
    cursor: pointer;
}

#license-container {
    display: none;
}