@font-face {
    font-family: Minecraft;
    src: url("../font/minecraftia-regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Enchant;
    src: url("../font/minecraft-enchantment.ttf");
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

.flex-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 50px;
}

.center {
    text-align: center;
}

.error-message {
    color: #DA373C;
    overflow-wrap: break-word;
}

#player-form {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 15px;
}

#send-player {
    margin-top: 5%;
}

.red-border {
    border: 1px solid red;
}

#home-form {
    padding: 10px;
    border-radius: 5px;

    box-shadow: 6px 4px 20px -4px rgba(96,96,96,0.75);
    -webkit-box-shadow: 6px 4px 20px -4px rgba(96,96,96,0.75);
    -moz-box-shadow: 6px 4px 20px -4px rgba(96,96,96,0.75);

    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

#player-form {
    display: grid;
    grid-template-columns: .8fr .1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: space-between;
}

#player-form > * {
    height: 50px;
    font-family: Minecraft, sans-serif;
}

label[for="player-name-input"] {
    display: none;
}

#player-name-input {
    height: 50px;
    width: 100%;
    border: none;
    border-radius: 3px;
    box-shadow: 6px 4px 20px -4px rgba(96,96,96,0.75);
    -webkit-box-shadow: 6px 4px 20px -4px rgba(96,96,96,0.75);
    -moz-box-shadow: 6px 4px 20px -4px rgba(96,96,96,0.75);
    text-align: center;
    font-size: 14pt;
    font-family: "Courier New", sans-serif;
}

@media screen and (max-width: 378px) {
    #player-name-input::placeholder {
        content: "Username";
    }
}

#search-bar-container, #search-btn {
    display: flex;
    width: 100%;
    text-align: center;
}

#send-player {
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 5px;
    background-color: #3cd040;
    color: white;
    font-size: 12pt;
    transform: translateY(-3px);
}

#send-player:hover {
    background-color: #42e342;
    cursor: pointer;
}

/* Stats page */
.stats-div {
    margin-left: 2.5%;
    margin-right: 2.5%;
}

#skills-stats {
    text-align: center;
}

#slayer-stats, .slayer-boss-killed{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}

.slayer-boss-div {
    background-color: rgba(9, 8, 8, 0.6);
    color: white;

    border: 2px solid black;
    border-radius: 5px;
}

.boss-title, .boss-xp {
    text-align: center;
}

.slayer-separator {
    width: 40%;
    margin-left: 30%;
    border: 1px solid black;
    color: black;
}

.slayer-boss-killed {
    margin: 2.5% 10% 1.5%;
}

#unlocked-timecharms {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

#trophy-fish-misc {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

#trophy-fish-count {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}

.fish-card {
    border-radius: 5px;
    width: auto;
}

.fish-card h3 {
    text-align: center;
}

.trophy-count {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
}


