<div class="divider-2">
    <div id="factory-production" class="blurry-bg">
        <h3 class="color-f center">Chocolate production</h3>
        <div class="icon-text">
            <img loading="lazy" src="/images/Dropper.webp" alt="Prestige" width="30" height="30">
            <p class="color-6 text-shadow">
                Factory Prestige
                <span class="color-f">
                    : {{ chocolate_data['chocolate']['factory_level'] }}
                </span>
                {% if chocolate_data['chocolate']['factory_level'] == 6 %}
                    <i class="parenthesis color-b bold">MAX LEVEL</i>
                {% endif %}
            </p>
        </div>
        <div class="icon-text">
            <img loading="lazy" src="/images/Chocolate_Muffin.webp" alt="Prestige Chocolate" width="30" height="30">
            <p class="color-6 text-shadow">
                Chocolate this prestige
                <span class="color-f">
                    : {{ chocolate_data['chocolate']['prestige_chocolate'] }}
                </span>
            </p>
        </div>
        <div class="icon-text">
            <img loading="lazy" src="/images/Chocolate_Cube.webp" alt="All-time Chocolate" width="30" height="30">
            <p class="color-6 text-shadow">
                All-time chocolate
                <span class="color-f">
                    : {{ chocolate_data['chocolate']['alltime_chocolate'] }}
                </span>
            </p>
        </div>
        <div class="icon-text">
            <img loading="lazy" src="/images/Chocolate_Sphere.webp" alt="Current Chocolate" width="30" height="30">
            <p class="color-6 text-shadow">
                Current chocolate
                <span class="color-f">
                    : {{ chocolate_data['chocolate']['current_chocolate'] }}
                </span>
            </p>
        </div>
    </div>
    <div id="factory-employees" class="blurry-bg">
    <h3 class="color-f center">Rabbit employees</h3>
        {% for rabbit in chocolate_data['employees'] %}
        <div class="icon-text">
            <img loading="lazy" src="{{ chocolate_data['employees'][rabbit]['icon_path'] }}" alt="{{ rabbit }} icon" width="30" height="30">
            <p class="color-f">
                <span class="brackets color-7">
                    {{ chocolate_data['employees'][rabbit]['level'] }}
                </span>
                <span style="color: {{ chocolate_data['employees'][rabbit]['color'] }}">
                    {{ rabbit.replace("_", " ").split()[0].capitalize() }} {{ rabbit.replace("_", " ").split()[1].capitalize() }}
                </span>
                <i class="parenthesis" style="color: {{ chocolate_data['employees'][rabbit]['color'] }}">
                    {{ chocolate_data['employees'][rabbit]['rank'] }}
                </i>
            </p>
        </div>
        {% endfor %}
    </div>
</div>
<br>
<div class="divider-2">
    <div id="factory-collection" class="blurry-bg">
        <h3 class="color-f center">Hoppity's collection</h3>
        <div class="icon-text">
            <img loading="lazy" src="/images/Hoppity.webp" alt="Hoppity" width="30" height="30">
            <p class="color-a">
                Found Rabbits
                <span class="color-f">
                    : {{ chocolate_data['misc']['unique_rabbit'] }}/457
                </span>
            </p>
        </div>
        <div class="icon-text">
            <img loading="lazy" src="/images/Hoppity.webp" alt="Hoppity" width="30" height="30">
            <p class="color-a">
                Found Rabbits
                <span class="color-f">
                    : {{ chocolate_data['misc']['total_rabbit'] }}
                </span>
                <i class="parenthesis color-7">Duplicates included</i>
            </p>
        </div>
        <div class="icon-text">
            <img loading="lazy" src="/images/Fence.webp" alt="Barn" width="30" height="30">
            <p class="color-a">
                Barn capacity
                <span class="color-f">
                    : {{ chocolate_data['upgrades']['barn_slots'] }}
                </span>
                <i class="parenthesis color-7">
                    Tier {{ chocolate_data['upgrades']['barn'] }}
                </i>
            </p>
        </div>
    </div>
    <div id="factory-upgrades" class="blurry-bg">

        <h3 class="color-f center">Factory upgrades</h3>

        <div class="icon-text">
            <img loading="lazy" src="/images/Cookie.webp" alt="Cookie" width="30" height="30">
            <p class="color-d text-shadow">
                Hand-Baked Chocolate
                <span class="color-f">
                    : {{ chocolate_data['upgrades']['click'] }}
                </span>
            </p>
        </div>

        <div class="icon-text">
            <img loading="lazy" src="/images/Clock.webp" alt="Time Tower" width="30" height="30">
            <p class="color-d text-shadow">
                Time Tower
                <span class="color-f">
                    : {{ chocolate_data['upgrades']['tower'] }}
                </span>
                {% if chocolate_data['upgrades']['tower'] > 0 %}
                    <i class="parenthesis color-7">
                    x{{ chocolate_data['upgrades']['tower'] / 10 }} multiplier
                    </i>
                {% endif %}
                {% if chocolate_data['misc']['shop_milestone'] >= 12 %}
                    <i class="parenthesis color-7">
                    + x0.7 shop milestone 12
                    </i>
                {% endif %}
            </p>
        </div>

        <div class="icon-text">
            <img loading="lazy" src="/images/Rabbit_Foot.webp" alt="Rabbit Shrine" width="30" height="30">
            <p class="color-d text-shadow">
                Rabbit Shrine
                <span class="color-f">
                    : {{ chocolate_data['upgrades']['shrine'] }}
                </span>
                {% if chocolate_data['upgrades']['shrine'] > 0 %}
                    <i class="parenthesis color-7">
                        +{{ chocolate_data['upgrades']['shrine'] }}% to find rare rabbits
                    </i>
                {% endif %}
            </p>
        </div>

        <div class="icon-text">
            <img loading="lazy" src="/images/chocolate/coach_jackrabbit.webp" alt="Coach Jackrabbit" width="30" height="30">
            <p class="color-d text-shadow">
                Coach Jackrabbit
            <span class="color-f">
                : {{ chocolate_data['upgrades']['jackrabbit'] }}
            </span>

            {% if chocolate_data['upgrades']['jackrabbit'] > 0 %}
                <i class="parenthesis color-7">
                    x{{ chocolate_data['upgrades']['jackrabbit'] / 100 }} multiplier
                </i>
            {% endif %}
            </p>
        </div>

    </div>
</div>
<br>
<div class="divider-2">
    <div id="factory-misc" class="blurry-bg">
        <h3 class="color-f center">Other stats</h3>
        <div class="icon-text">
            <img loading="lazy" src="/images/Emerald.webp" alt="Shop" width="30" height="30">
            <p class="color-a text-shadow">
                Chocolate spent in shop
                <span class="color-f">
                    : {{ chocolate_data['misc']['shop_spent'] }}
                </span>
                <i class="parenthesis color-7">
                    milestone {{ chocolate_data['misc']['shop_milestone'] }}
                </i>
            </p>
        </div>
        <div class="icon-text">
            <img loading="lazy" src="/images/Chocolate_Bar.webp" alt="Chocolate Bar" width="30" height="30">
            <p class="color-a text-shadow">
                Chocolate bar bought
                <span class="color-f">
                    : {{ chocolate_data['misc']['chocolate_bar_counter'] }}
                </span>
            </p>
        </div>
    </div>
    <div id="factory-prod" class="blurry-bg">
    <h3 class="color-f center">Estimated Production</h3>
    <div class="icon-text">
        <img loading="lazy" src="/images/Cookie.webp" alt="Cookie" width="30" height="30">
        <p class="color-6 text-shadow">
            Chocolate per second
            <span class="color-f bold">: {{ chocolate_data['production']['per_sec'] }}</span>
        </p>
    </div>
    <div class="icon-text">
        <img loading="lazy" src="/images/Cookie.webp" alt="Cookie" width="30" height="30">
        <p class="color-6 text-shadow">
            Calculation breakdown
            <span class="color-f bold">:</span>
        </p>
    </div>
    <div id="chocolate-prod-breakdown">
        <span class="color-6"> --- Production ({{ chocolate_data['production']['total_prod'] }}) --- </span>
        {% for prod_source in chocolate_data['production']['production'] %}
            <br>
            {% if prod_source['comment'] %}
            	<span class="color-a" data-tooltip="{{ prod_source['comment'] }}">{{ prod_source.keys() | first }}</span>
            {% else %}
                <span class="color-a">{{ prod_source.keys() | first }}</span>
            {% endif %}
            <span class="color-f bold">: {{ prod_source.values() | first }}</span>
        {% endfor %}
        <br>
        <span class="color-6"> --- Multiplier ({{ chocolate_data['production']['total_mul'] }}) --- </span>
        {% for prod_source in chocolate_data['production']['multiplier'] %}
            <br>
            {% if prod_source['comment'] %}
            	<span class="color-a" data-tooltip="{{ prod_source['comment'] }}">{{ prod_source.keys() | first }}</span>
            {% else %}
                <span class="color-a">{{ prod_source.keys() | first }}</span>
            {% endif %}
            <span class="color-f bold">: x{{ prod_source.values() | first }}</span>
        {% endfor %}
    </div>
    <div class="icon-text">
        <img loading="lazy" src="/images/Cookie.webp" alt="Cookie" width="30" height="30">
        <p class="color-6 text-shadow">
            Chocolate per second (with Tower)
            <span class="color-f bold">: {{ chocolate_data['production']['per_sec_with_tower'] }}</span>
        </p>
    </div>
</div>
</div>
<br>
<div class="stats-div">
{% set rabbit_rarity_colors = dict({
    "COMMON": "#ffffff",
    "UNCOMMON": "#3ffe3f",
    "RARE": "#3f3ffe",
    "EPIC": "#be00be",
    "LEGENDARY": "#d9a334",
    "MYTHIC": "#fe3ffe",
    "DIVINE": "#3ffefe",
}) %}

<div id="rabbit-collection-dashboard" class="blurry-bg">
    <h3 class="color-f bold text-shadow center">Select which rarity to display</h3>

    <form id="rabbit-dashboard-rarity">
        {% for rarity in chocolate_data['collection'] %}
            <div class="rabbit-dashboard-entry">
                <label for="{{ rarity }}" class="text-shadow bold" style="color: {{ rabbit_rarity_colors[rarity] }}">
                    <input type="checkbox" checked value="{{ rarity }}"  name="{{ rarity }}"> {{ rarity | lower | capitalize }}
                </label>
            </div>
        {% endfor %}
    </form>

    <h3 class="color-f bold text-shadow center">Select which rabbits to display</h3>
    <form id="rabbit-dashboard-found">
        <div class="rabbit-dashboard-entry">
            <label class="text-shadow bold color-a">
                <input type="checkbox" checked id="found-rabbit"> Found
            </label>
        </div>
        <div class="rabbit-dashboard-entry">
            <label class="text-shadow bold color-7">
                <input type="checkbox" id="not-found-rabbit"> Not Found
            </label>
        </div>
    </form>
    <input type="button" value="Update" id="rabbit-dashboard-btn">
</div>
<br>
<div id="rabbits-collection" class="blurry-bg">
    {% for rarity in chocolate_data['collection'] %}
        <h3 class="text-shadow color-f center">
            {{ rarity }}
            <span class="color-7 bold">{{ chocolate_data['collection_data'][rarity]["found_unique"] }}</span>
            <span class="color-8">/</span>
            <span class="color-7 bold">{{ chocolate_data['collection_data'][rarity]["total_unique"] }}</span>
        </h3>
        <div class="{{ rarity }}-rabbit-div">
            {% for rabbit in chocolate_data['collection'][rarity] %}
            <div class="icon-text rabbit-div" found="{{ rabbit['amount'] }}" style="width: auto;">
                <img loading="lazy" src="{{ rabbit['img'] }}" alt="{{ rabbit['name'] }}" width="30" height="30">
                {% if rabbit['amount'] == 0 %}
                <i class="text-shadow color-7">
                    <span class="bold">
                         {{ rabbit['name'] }}
                    </span>
                    <span class="parenthesis color-8">{{ rabbit['amount'] }}</span>
                </i>
                {% else %}
                <p class="text-shadow color-f">
                    <span class="bold" style="color: {{ rabbit_rarity_colors[rabbit['rarity']] }}">
                         {{ rabbit['name'] }}
                    </span>
                    <span class="parenthesis">{{ rabbit['amount'] }}</span>
                </p>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>
</div>