<div id="trophy-fish-misc">
    <div class="icon-text">
        <img loading="lazy" src="{{ trophy_data[1]['Claimed reward']['icon_path'] }}" alt="Reward icon" width="30" height="30">
        <p class="color-f bold"><span class="color-b">Claimed reward</span>: {{ trophy_data[1]['Claimed reward']['name'] }}</p>
    </div>
    <div class="icon-text">
        <img loading="lazy" src="{{ trophy_data[1]['Trophy fished']['icon_path'] }}" alt="Trophy icon" width="30" height="30">
        <p class="color-f bold"><span class="color-b">Trophy fished</span>: {{ trophy_data[1]['Trophy fished']['amount'] }}</p>
    </div>
</div>

<div id="trophy-fish-count">
{% for trophy in trophy_data[0] %}
    <div id="{{ trophy.keys() | first }}-summary" class="fish-card">
        <div class="icon-text center">
            <img loading="lazy" src="{{ trophy['icon_path'] | replace(" ", "_") }}" alt="{{ trophy.keys() | first }} Icon" width="30" height="30">
            <h3 id="{{ trophy.keys() | first }}-title" class="center">{{ trophy.keys() | first | title }}</h3>
        </div>
        <div class="trophy-count">
            {% for fish_rarity in trophy[trophy.keys() | first] %}
                <p><strong>{{ fish_rarity }}</strong>: {{ trophy[trophy.keys() | first][fish_rarity] }}</p>
            {% endfor %}
        </div>
    </div>
{% endfor %}
</div>