<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<meta charset="UTF-8">
	<title>{{ player_name }} | SBStats</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="{{ skin_link }}">
	<link href="{{ url_for('style', path='style.css') }}" rel="stylesheet">
    <link href="{{ url_for('style', path='tooltip.css') }}" rel="stylesheet">
</head>
<body>

<div id="core-content">
<a href="/" target="_self">Home</a>
<div id="head-section" class="red-border stats-div">
	<div class="flex-wrapper">
		<img id="main-skin-img" src="{{ skin_link }}" width="128" height="128" alt="{{ player_name }}">
	</div>
	<h2 class="center white-text">
        {% if rank_data['rank'] != "None" %}
        	<span style="color: {{ rank_data['color'] }}" class="text-shadow">{{ rank_data['rank'] }}</span>
        {% endif %}
        {% if leveling_data != None %}
            <span style="color: #3f3f3f" class="text-shadow">[</span>
            <span style="color: {{ leveling_data["Global"]["color"] }}" class="text-shadow">{{ (leveling_data["Global"]["xp"] / 100) | int }}</span>
            <span style="color: #3f3f3f" class="text-shadow">]</span>
        {% endif %}
        {{ player_name }}
    </h2>
<div class="center">
    {% if profiles_data != None %}
    <label for="profile-selector">Displayed profile:</label>
    <select id="profile-selector">
    {% for profile in profiles_data %}
        {% if profile['selected'] == True %}
    	    <option selected>{{ profile['name'] }} ({{ profile['game_mode'] }})</option>
        {% else %}
            <option>{{ profile['name'] }} ({{ profile['game_mode'] }})</option>
        {% endif %}
    {% endfor %}
    </select>
{% endif %}
</div>


{% if misc_data != None %}
	<div class="flex-wrapper">
    <p class="center tooltip-container" data-tooltip="Format: YYYY-dd-MM hh:mm:ss">
        <strong>First joined:</strong> {{ misc_data["First Join"] }}</p>
    </div>
	<p class="center"><strong>Purse:</strong> {{ misc_data["Purse"] }}</p>
{% else %}
	<p class="to-hover center"><strong>First joined:</strong> -</p>
	<p class="center"><strong>Purse:</strong> -</p>
{% endif %}
{% if leveling_data != None %}
<div class="icon-text">
	<img src="{{ leveling_data["Global"]["icon_path"] }}" alt="{{ skill }} Icon" width="30" height="30">
	<p class="center"><strong>Skyblock Level:</strong> {{ leveling_data["Global"]["xp"] / 100 }}</p>
</div>

{% else %}
<div class="icon-text">
	<img src="/images/Skyblock_Levels.webp" alt="{{ skill }} Icon" width="30" height="30">
	<p class="center"><strong>Skyblock Level:</strong> -</p>
</div>
{% endif %}
</div>

<div id="skills-stats" class="red-border stats-div">
	<h2 class="section-title center">Skills & Level</h2>
{% if leveling_data != None %}
	<div class="icon-text">
		<img src="{{ leveling_data["Global"]["icon_path"] }}" alt="{{ skill }} Icon" width="30" height="30">
		<h2 id="sb-level" class="title">Skyblock Level: {{ leveling_data["Global"]["xp"] / 100 }}</h2>
	</div>
	{% for skill in leveling_data %}
		{% if skill != "Global" %}
		<div class="icon-text">
			<img src="{{ leveling_data[skill]["icon_path"] }}" alt="{{ skill }} Icon" width="30" height="30">
			<p id="{{ skill.lower() }}-info" class="skills-info tooltip-container" data-tooltip="{{ leveling_data[skill]["xp"] }} EXP">
                <strong>{{ skill | replace("2", "") }} :</strong> {{ leveling_data[skill]["level"] }}</p>
		</div>
		{% endif %}
	{% endfor %}
{% else %}
	<h3 class="center">Skills data not found for this player.</h3>
{% endif %}
</div>

<div id="slayer-stats" class="red-border stats-div">
	<h2 class="section-title center">Slayer</h2>
{% if slayer_data != None %}
	<div id="slayer-cards">
	{% for boss in slayer_data %}
		<div id="{{ boss.lower() }}" class="slayer-boss-div center">
			<div class="slayer-title-container icon-text">
				<img src="{{ slayer_data[boss]["icon_path"] }}" alt="{{ boss.lower().capitalize() }} Icon" width="30" height="30">
				<h3 class="{{ boss.lower() }}-boss-level boss-title center">
					{{ boss }} - LVL {{ slayer_data[boss]["current_level"] }}
				</h3>
			</div>
			<p class="{{ boss.lower() }}-boss-xp boss-xp center">{{ slayer_data[boss]["xp"] }} EXP
				/ {{ slayer_data[boss]["next_lvl_xp"] }}</p>
			<hr class="slayer-separator">
			<div id="{{ boss.lower() }}-boss-killed" class="slayer-boss-killed">
				{% for kill in slayer_data[boss]["boss_kills"] %}
					<p id="{{ boss.lower() }}-{{ kill.keys() | first | lower | replace(" ", "-") }}-kills"
					   class="slayer-boss-tier-killed">{{ kill.keys() | first }} : {{ kill.values() | first }}</p>
				{% endfor %}
			</div>
		</div>
	{% endfor %}
	</div>
{% else %}
	<h3 class="center">Slayer data not found for this player.</h3>
{% endif %}
</div>

<div id="rift-stats" class="red-border stats-div">
	<h2 class="section-title center">Rift</h2>
{% if rift_data != None %}
	<div id="rift-trophies" class="red-border">
		{% if rift_data['trophies'] | length > 0 %}
			<h3 class="center">Unlocked Timecharms</h3>
			<div id="unlocked-timecharms" class="red-border">
				{% for trophy in rift_data['trophies'] %}
					<div class="rift-trophy">
						<strong>{{ trophy[0] }}</strong>
						<p>Unlocked after {{ trophy[1] }} visits</p>
					</div>
				{% endfor %}
			</div>
		{% endif %}
		{% if rift_data['missing_trophies'] | length > 0 %}
			<div id="missing-timecharm" class="red-border">
				<h3 class="center">Missing Timecharms</h3>
				{% for trophy in rift_data['missing_trophies'] %}
					<div class="rift-missing-trophy">
						<strong>{{ trophy }}</strong>
					</div>
				{% endfor %}
			</div>
		{% endif %}
	</div>
	<div id="rift-misc" class="red-border">
		<p><strong>Enigma Souls found:</strong> {{ rift_data['souls'] }}/42</p>
		<p><strong>Montezuma fragments:</strong> {{ rift_data['montezuma'] }}/9</p>
		<p><strong>McGrubber's Burger eaten :</strong> {{ rift_data['burger'] }}/5</p>
		<p><strong>Time spent
			sitting:</strong> {{ rift_data['time_sitting'][0] }}min {{ rift_data['time_sitting'][0] }}sec</p>
	</div>
	<div id="rift-motes" class="red-border">
		<p><strong>Motes purse:</strong> {{ rift_data['motes'] }}</p>
		<p><strong>Lifetime earned motes:</strong> {{ rift_data['lifetime_motes'] }}</p>
		<p><strong>Orb picked-up:</strong> {{ rift_data['orbs'] }}</p>
	</div>
{% else %}
	<h3 class="center">Rift data not found for this player.</h3>
{% endif %}
</div>

<div id="misc-stats" class="red-border stats-div">
	<h2 class="section-title center">Miscellaneous</h2>
{% if misc_data != None %}
	<div class="red-border">
		{% for stats in misc_data %}
			<p class="misc-data"><strong>{{ stats }}:</strong> {{ misc_data[stats] }}</p>
		{% endfor %}
	</div>
{% else %}
	<h3 class="center">Misc data not found for this player.</h3>
{% endif %}
</div>

<div id="trophy-stats" class="red-border stats-div">
	<h2 class="section-title center">Trophy Fishing</h2>
{% if trophy_data != None %}
	<div id="trophy-fish-misc" class="red-border">
		{% for element in trophy_data[1] %}
			<p><strong>{{ element }}</strong>: {{ trophy_data[1][element] }}</p>
		{% endfor %}
	</div>

	<div id="trophy-fish-count" class="red-border">
		{% for trophy in trophy_data[0] %}
			<div id="{{ trophy.keys() | first }}-summary" class="fish-card">
				<div class="icon-text center">
					<img src="{{ trophy['icon_path'] | replace(" ", "_") }}" alt="{{ trophy.keys() | first }} Icon" width="30" height="30">
					<h3 id="{{ trophy.keys() | first }}-title" class="center">{{ trophy.keys() | first }}</h3>
				</div>
				<div class="trophy-count">
					{% for fish_rarity in trophy[trophy.keys() | first] %}
						<p><strong>{{ fish_rarity}}</strong>: {{ trophy[trophy.keys() | first][fish_rarity] }}</p>
					{% endfor %}
				</div>
			</div>
		{% endfor %}
	</div>
{% else %}
	<h3 class="center">Trophy fishing data not found for this player.</h3>
{% endif %}
</div>
</div>

</body>
</html>