<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<meta charset="UTF-8">
	<title>{{ player_name }} | SBStats</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="{{ skin_link }}">
	<link href="/style/style.css" rel="stylesheet">
    <link href="/style/tooltip.css" rel="stylesheet">
</head>
<body>

<div id="core-content">
<a href="/" target="_self">Home</a>

{% if api_warning == True %}
    <h3 class="center text-shadow color-4 blurry-bg">
        Some data couldn't be retrieved. This is usually because the in-game API settings are turned off.
    </h3>
{% endif %}

<div id="head-section">
<div id="head-section-data" class="blurry-bg">
	<div class="flex-wrapper">
		<img id="main-skin-img" src="{{ skin_link }}" width="128" height="128" alt="{{ player_name }}">
	</div>

	<h2 class="center color-f text-shadow">
        {% if rank_data['rank'] != "None" %}
        	<span style="color: {{ rank_data['color'] }}" class="text-shadow">{{ rank_data['rank'] }}</span>
        {% endif %}
        {% if leveling_data != None %}
            <span style="color: {{ leveling_data['Global']['color'] }}" class="text-shadow brackets">{{ (leveling_data['Global']['xp'] / 100) | int }}</span>
        {% endif %}
        {{ player_name }}
    </h2>
    <div class="center text-shadow">
    {% if profiles_data != None %}
        <div class="icon-text">
            <img src="/images/Nametag.webp" alt="Profile" width="30" height="30">
            <label for="profile-selector" class="color-b">Profile <span class="color-f bold">:</span></label>
            <select id="profile-selector" class="blurry-bg">
            {% if displayed_profile == "Selected" %}
                {% for profile in profiles_data %}
                    {% if profile['selected'] == True %}
                        <option selected>{{ profile['name'] }} ({{ profile['game_mode'] | replace("island", "stranded") }})</option>
                    {% else %}
                        <option>{{ profile['name'] }} ({{ profile['game_mode'] | replace("island", "stranded") }})</option>
                    {% endif %}
                {% endfor %}
            {% else %}
                {% for profile in profiles_data %}
                    {% if (profile['name'].startswith(displayed_profile))  %}
                        <option selected>{{ profile['name'] }} ({{ profile['game_mode'] | replace("island", "stranded") }})</option>
                    {% else %}
                        <option>{{ profile['name'] }} ({{ profile['game_mode'] | replace("island", "stranded")}})</option>
                    {% endif %}
                {% endfor %}
            {% endif %}
            </select>
        </div>
    {% endif %}
</div>
    {% if misc_data != None %}
        <div class="flex-wrapper text-shadow">
            <div class="icon-text">
                <img src="{{ misc_data['First Join']['icon_path'] }}" alt="First joined" width="30" height="30">
                <p class="tooltip-container color-b" data-tooltip="Format: YYYY-dd-MM hh:mm:ss">
                    First joined
                    <span class="color-f bold">
                        : {{ misc_data['First Join']['value'] }}
                    </span>
                </p>
            </div>
        </div>
        <div class="icon-text text-shadow">
            <img src="{{ misc_data['Purse']['icon_path'] }}" alt="Purse" width="30" height="30">
            <p class="color-b">
                Purse
                <span class="color-f bold">: {{ misc_data['Purse']['value'] }}</span>
                <span class="color-6"> coins</span>
            </p>
        </div>
    {% else %}
        <p class="center color-b bold">
            First joined:
            <span class="color-c"> -</span>
        </p>
        <p class="center color-b bold">
            Purse:
            <span class="color-c"> -</span>
        </p>
    {% endif %}
    {% if leveling_data != None %}
        <div class="icon-text text-shadow">
        <img src="{{ leveling_data['Global']['icon_path'] }}" alt="{{ skill }} Icon" width="30" height="30">
        <p class="center color-b">Skyblock Level
            <span class="color-f bold">
                : {{ leveling_data['Global']['xp'] / 100 }}
            </span>
        </p>
    </div>
    {% else %}
        <div class="icon-text text-shadow">
        <img src="/images/Skyblock_Levels.webp" alt="{{ skill }} Icon" width="30" height="30">
        <p class="center color-b">
            Skyblock Level:
            <span class="color-c"> -</span>
        </p>
    </div>
    {% endif %}
    </div>
</div>

<div id="skills-stats" class="stats-div">
	<h2 class="section-title center">Skills & Level</h2>
{% if leveling_data != None %}
    <div id="skills-container">
    	{% for skill in leveling_data %}
            {% if skill != "Global" %}
                <div class="skill-container blurry-bg">
                    <div class="skill-progression">
                        <div class="icon-text">
                            <img src="{{ leveling_data[skill]['icon_path'] }}" alt="{{ skill }} Icon" width="30" height="30">
                            <p id="{{ skill.lower() }}-info" class="skills-info tooltip-container color-b" data-tooltip="{{ leveling_data[skill]["xp"] }} EXP">
                            {{ skill | replace("2", "") }}
                                <span class="color-f bold">
                                    : {{ leveling_data[skill]['level'] | replace("-1", "0") }}
                                </span>
                            </p>
                        </div>
                        <label for="{{ skill }}-progress">
                            <span class="color-3">{{ '{value:,.0f}'.format(value=leveling_data[skill]['level_xp']) }}</span>
                            <span class="color-9 bold">/</span>
                            {% if leveling_data[skill]['next_level_xp'] == 0 %}
                                <span class="color-9 bold">MAX LEVEL</span>
                            {% else %}
                                <span class="color-3">{{ '{value:,.0f}'.format(value=leveling_data[skill]['next_level_xp']) }}</span>
                                <span class="color-9 bold">EXP</span>
                            {% endif %}
                        </label>
                    </div>
                    <progress id="{{ skill }}-progress" max="{{ leveling_data[skill]['next_level_xp'] }}"
                              value="{{ leveling_data[skill]['level_xp'] }}">
                        {{ leveling_data[skill]['level_xp'] }}/{{ leveling_data[skill]['next_level_xp'] }}
                    </progress>
                </div>
            {% endif %}
	    {% endfor %}
    </div>
{% else %}
	<h3 class="center">Skills data not found for this player.</h3>
{% endif %}
</div>

<div id="slayer-stats" class="stats-div">
	<h2 class="section-title center">Slayer</h2>
{% if slayer_data != None %}
	<div id="slayer-cards">
	{% for boss in slayer_data %}
		<div id="{{ boss.lower() }}" class="slayer-boss-div center">
			<div class="slayer-title-container icon-text">
				<img src="{{ slayer_data[boss]['icon_path'] }}" alt="{{ boss.lower().capitalize() }} Icon" width="30" height="30">
				<h3 class="{{ boss.lower() }}-boss-level boss-title center text-shadow color-7">
					{{ boss }} - LVL {{ slayer_data[boss]['current_level'] }}
				</h3>
			</div>
			<p class="{{ boss.lower() }}-boss-xp boss-xp center text-shadow">
                <strong class="color-d">{{ slayer_data[boss]['xp'] }}</strong>
                <strong class="color-5">/</strong>
                {% if slayer_data[boss]['next_lvl_xp'] == "MAX LEVEL" %}
                    <strong class="color-5">{{ slayer_data[boss]['next_lvl_xp'] }}</strong>
                {% else %}
                    <strong class="color-d">{{ slayer_data[boss]['next_lvl_xp'] }}
                        <span class="color-5">EXP</span>
                    </strong>
                {% endif %}

            </p>
			<hr class="slayer-separator">
			<div id="{{ boss.lower() }}-boss-killed" class="slayer-boss-killed">
				{% for kill in slayer_data[boss]['boss_kills'] %}
					<p id="{{ boss.lower() }}-{{ kill.keys() | first | lower | replace(" ", "-") }}-kills"
					   class="slayer-boss-tier-killed text-shadow color-2">
                        {{ kill.keys() | first }}
                        <span class="color-a bold">
                           : {{ kill.values() | first }}
                        </span>
                    </p>
				{% endfor %}
			</div>
		</div>
	{% endfor %}
	</div>
{% else %}
	<h3 class="center">Slayer data not found for this player.</h3>
{% endif %}
</div>

<div id="rift-stats" class="stats-div">
	<h2 class="section-title center">Rift</h2>
{% if rift_data != None %}
	<div id="rift-trophies">
		{% if rift_data['trophies'] | length > 0 %}
			<h3 class="center">Unlocked Timecharms</h3>
			<div id="unlocked-timecharms">
				{% for trophy in rift_data['trophies'] %}
                    <div class="icon-text blurry-bg rift-trophy-div">
                    <img src="{{ trophy['icon_path'] }}" alt="{{ trophy['type'] }}" width="30" height="30">
                        <div class="rift-trophy">
                            <p class="text-shadow color-a bold">{{ trophy['type'] }}</p>
                            <p class="text-shadow color-7"><i>Unlocked after {{ trophy['visits'] }} visits</i></p>
                        </div>
                    </div>
				{% endfor %}
			</div>
		{% endif %}
		{% if rift_data['missing_trophies'] | length > 0 %}
            <h3 class="center">Missing Timecharms</h3>
			<div id="missing-timecharm">
				{% for trophy in rift_data['missing_trophies'] %}
                    <div class="icon-text blurry-bg rift-trophy-div rift-missing-trophy">
                    <img src="{{ trophy['icon_path'] }}" alt="{{ trophy['type'] }}" width="30" height="30">
                        <div class="rift-trophy">
                            <p class="text-shadow color-c bold">{{ trophy['type'] }}</p>
                            <p class="text-shadow color-7"><i>Not unlocked</i></p>
                        </div>
                    </div>
				{% endfor %}
			</div>
		{% endif %}
	</div>
    <div class="divider-2">
        <div id="rift-misc" class="blurry-bg">
            <h3 class="text-shadow color-f center">Progression</h3>
            <div class="icon-text">
                <img src="{{ rift_data['souls']['icon_path'] }}" alt="Enigma Soul" width="30" height="30">
                <p class="text-shadow color-5 bold">
                    Enigma Souls found
                    <span class="color-f">
                        : {{ rift_data['souls']['value'] }}/42
                    </span>
                </p>
            </div>
            <div class="icon-text">
                <img src="{{ rift_data['montezuma']['icon_path'] }}" alt="Montezuma" width="30" height="30">
                <p class="text-shadow color-5 bold">
                    Montezuma fragments
                    <span class="color-f">
                        : {{ rift_data['montezuma']['value'] }}/9
                    </span>
                </p>
            </div>
            <div class="icon-text">
                <img src="{{ rift_data['burger']['icon_path'] }}" alt="McGrubber's Burger" width="30" height="30">
                <p class="text-shadow color-5 bold">
                    McGrubber's Burger eaten
                    <span class="color-f">
                        : {{ rift_data['burger']['value'] }}/5
                    </span>
                </p>
            </div>
            <div class="icon-text">
                <img src="{{ rift_data['time_sitting']['icon_path'] }}" alt="Oak Stairs" width="30" height="30">
                <p class="text-shadow color-5 bold">
                    Time spent sitting
                    <span class="color-f">
                        : {{ rift_data['time_sitting']['value'][0] }}min {{ rift_data['time_sitting']['value'][0] }}sec
                    </span>
                </p>
            </div>
        </div>
        <div id="rift-motes" class="blurry-bg">
            <h3 class="text-shadow color-f center">Motes</h3>
            <div class="icon-text">
                <img src="{{ rift_data['motes']['icon_path'] }}" alt="Oak Stairs" width="30" height="30">
                <p class="text-shadow color-5 bold">
                    Motes purse
                    <span class="color-f">
                        : {{ rift_data['motes']['value'] }}
                    </span>
                </p>
            </div>
            <div class="icon-text">
                <img src="{{ rift_data['lifetime_motes']['icon_path'] }}" alt="Oak Stairs" width="30" height="30">
                <p class="text-shadow color-5 bold">
                    Lifetime earned motes
                    <span class="color-f">
                        : {{ rift_data['lifetime_motes']['value'] }}
                    </span>
                </p>
            </div>
            <div class="icon-text">
                <img src="{{ rift_data['orbs']['icon_path'] }}" alt="Oak Stairs" width="30" height="30">
                <p class="text-shadow color-5 bold">
                    Orb picked-up
                    <span class="color-f">
                        : {{ rift_data['orbs']['value'] }}
                    </span>
                </p>
            </div>
        </div>
    </div>
{% else %}
	<h3 class="center">Rift data not found for this player.</h3>
{% endif %}
</div>

<div id="misc-stats" class="stats-div">
	<h2 class="section-title center">Miscellaneous</h2>
{% if misc_data != None %}
	<div class="divider-2">
    <div class="blurry-bg">
		{% for stats in misc_data %}
            <div class="icon-text">
                <img src="{{ misc_data[stats]['icon_path'] }}" alt="{{ stats }}" width="30" height="30">
                <p class="misc-data color-f bold">
                    <span class="color-b">{{ stats }}</span>
                    : {{ misc_data[stats]['value'] }}
                </p>
            </div>
		{% endfor %}
    </div>

	</div>
{% else %}
	<h3 class="center">Misc data not found for this player.</h3>
{% endif %}
</div>

<div id="trophy-stats" class="stats-div">
	<h2 class="section-title center">Trophy Fishing</h2>
{% if trophy_data != None %}
	<div id="trophy-fish-misc">
    <div class="icon-text">
        <img src="{{ trophy_data[1]['Claimed reward']['icon_path'] }}" alt="Reward icon" width="30" height="30">
        <p class="color-f bold"><span class="color-b">Claimed reward</span>: {{ trophy_data[1]['Claimed reward']['name'] }}</p>
    </div>
    <div class="icon-text">
        <img src="{{ trophy_data[1]['Trophy fished']['icon_path'] }}" alt="Trophy icon" width="30" height="30">
        <p class="color-f bold"><span class="color-b">Trophy fished</span>: {{ trophy_data[1]['Trophy fished']['amount'] }}</p>
    </div>
	</div>

	<div id="trophy-fish-count">
		{% for trophy in trophy_data[0] %}
			<div id="{{ trophy.keys() | first }}-summary" class="fish-card">
				<div class="icon-text center">
					<img src="{{ trophy['icon_path'] | replace(" ", "_") }}" alt="{{ trophy.keys() | first }} Icon" width="30" height="30">
					<h3 id="{{ trophy.keys() | first }}-title" class="center">{{ trophy.keys() | first }}</h3>
				</div>
				<div class="trophy-count">
					{% for fish_rarity in trophy[trophy.keys() | first] %}
						<p><strong>{{ fish_rarity }}</strong>: {{ trophy[trophy.keys() | first][fish_rarity] }}</p>
					{% endfor %}
				</div>
			</div>
		{% endfor %}
	</div>
{% else %}
	<h3 class="center">Trophy fishing data not found for this player.</h3>
{% endif %}
</div>

<div id="chocolate-stats" class="stats-div">
    <h2 class="section-title center">Chocolate Factory</h2>
{% if chocolate_data != None and chocolate_data != {} %}

<div class="divider-2">
    <div id="factory-production" class="blurry-bg">
    <h3 class="color-f center">Chocolate production</h3>
    <div class="icon-text">
        <img src="/images/Dropper.webp" alt="Prestige" width="30" height="30">
        <p class="color-6 text-shadow">
            Factory Prestige
            <span class="color-f">
                : {{ chocolate_data['chocolate']['factory_level'] }}
            </span>
            {% if chocolate_data['chocolate']['factory_level'] == 6 %}
                <i class="parenthesis color-b bold">MAX LEVEL</i>
            {% endif %}
        </p>
    </div>
    <div class="icon-text">
        <img src="/images/Chocolate_Muffin.webp" alt="Prestige Chocolate" width="30" height="30">
        <p class="color-6 text-shadow">
            Chocolate this prestige
            <span class="color-f">
                : {{ chocolate_data['chocolate']['prestige_chocolate'] }}
            </span>
        </p>
    </div>
    <div class="icon-text">
        <img src="/images/Chocolate_Cube.webp" alt="All-time Chocolate" width="30" height="30">
        <p class="color-6 text-shadow">
            All-time chocolate
            <span class="color-f">
                : {{ chocolate_data['chocolate']['alltime_chocolate'] }}
            </span>
        </p>
    </div>
    <div class="icon-text">
        <img src="/images/Chocolate_Sphere.webp" alt="Current Chocolate" width="30" height="30">
        <p class="color-6 text-shadow">
            Current chocolate
            <span class="color-f">
                : {{ chocolate_data['chocolate']['current_chocolate'] }}
            </span>
        </p>
    </div>
    </div>
    <div id="factory-employees" class="blurry-bg">
    <h3 class="color-f center">Rabbit employees</h3>
        {% for rabbit in chocolate_data['employees'] %}
        <div class="icon-text">
            <img src="{{ chocolate_data['employees'][rabbit]['icon_path'] }}" alt="{{ rabbit }} icon" width="30" height="30">
            <p class="color-f">
                <span class="brackets color-7">
                    {{ chocolate_data['employees'][rabbit]['level'] }}
                </span>
                <span style="color: {{ chocolate_data['employees'][rabbit]['color'] }}">
                    {{ rabbit.replace("_", " ").split()[0].capitalize() }} {{ rabbit.replace("_", " ").split()[1].capitalize() }}
                </span>
                <i class="parenthesis" style="color: {{ chocolate_data['employees'][rabbit]['color'] }}">
                    {{ chocolate_data['employees'][rabbit]['rank'] }}
                </i>
            </p>
        </div>
        {% endfor %}
    </div>
</div>
<br>
<div class="divider-2">
    <div id="factory-collection" class="blurry-bg">
        <h3 class="color-f center">Hoppity's collection</h3>
        <div class="icon-text">
            <img src="/images/Hoppity.webp" alt="Hoppity" width="30" height="30">
            <p class="color-a">
                Found Rabbits
                <span class="color-f">
                    : {{ chocolate_data['misc']['unique_rabbit'] }}/457
                </span>
            </p>
        </div>
        <div class="icon-text">
            <img src="/images/Hoppity.webp" alt="Hoppity" width="30" height="30">
            <p class="color-a">
                Found Rabbits
                <span class="color-f">
                    : {{ chocolate_data['misc']['total_rabbit'] }}
                </span>
                <i class="parenthesis color-7">Duplicates included</i>
            </p>
        </div>
        <div class="icon-text">
            <img src="/images/Fence.webp" alt="Barn" width="30" height="30">
            <p class="color-a">
                Barn capacity
                <span class="color-f">
                    : {{ chocolate_data['upgrades']['barn_slots'] }}
                </span>
                <i class="parenthesis color-7">
                    Tier {{ chocolate_data['upgrades']['barn'] }}
                </i>
            </p>
        </div>
    </div>
    <div id="factory-upgrades" class="blurry-bg">

        <h3 class="color-f center">Factory upgrades</h3>

        <div class="icon-text">
            <img src="/images/Cookie.webp" alt="Cookie" width="30" height="30">
            <p class="color-d text-shadow">
                Hand-Baked Chocolate
                <span class="color-f">
                    : {{ chocolate_data['upgrades']['click'] }}
                </span>
            </p>
        </div>

        <div class="icon-text">
            <img src="/images/Clock.webp" alt="Time Tower" width="30" height="30">
            <p class="color-d text-shadow">
                Time Tower
                <span class="color-f">
                    : {{ chocolate_data['upgrades']['tower'] }}
                </span>
                {% if chocolate_data['upgrades']['tower'] > 0 %}
                    <i class="parenthesis color-7">
                    x{{ chocolate_data['upgrades']['tower'] / 10 }} multiplier
                    </i>
                {% endif %}
                {% if chocolate_data['misc']['shop_milestone'] >= 12 %}
                    <i class="parenthesis color-7">
                    + x0.7 shop milestone 12
                    </i>
                {% endif %}
            </p>
        </div>

        <div class="icon-text">
            <img src="/images/Rabbit_Foot.webp" alt="Rabbit Shrine" width="30" height="30">
            <p class="color-d text-shadow">
                Rabbit Shrine
                <span class="color-f">
                    : {{ chocolate_data['upgrades']['shrine'] }}
                </span>
                {% if chocolate_data['upgrades']['shrine'] > 0 %}
                    <i class="parenthesis color-7">
                        +{{ chocolate_data['upgrades']['shrine'] }}% to find rare rabbits
                    </i>
                {% endif %}
            </p>
        </div>

        <div class="icon-text">
            <img src="/images/chocolate/coach_jackrabbit.webp" alt="Coach Jackrabbit" width="30" height="30">
            <p class="color-d text-shadow">
                Coach Jackrabbit
            <span class="color-f">
                : {{ chocolate_data['upgrades']['jackrabbit'] }}
            </span>

            {% if chocolate_data['upgrades']['jackrabbit'] > 0 %}
                <i class="parenthesis color-7">
                    x{{ chocolate_data['upgrades']['jackrabbit'] / 100 }} multiplier
                </i>
            {% endif %}
            </p>
        </div>

    </div>
</div>
<br>
<div class="divider-2">
    <div id="factory-misc" class="blurry-bg">
        <h3 class="color-f center">Other stats</h3>
        <div class="icon-text">
            <img src="/images/Emerald.webp" alt="Shop" width="30" height="30">
            <p class="color-a text-shadow">
                Chocolate spent in shop
                <span class="color-f">
                    : {{ chocolate_data['misc']['shop_spent'] }}
                </span>
                <i class="parenthesis color-7">
                    milestone {{ chocolate_data['misc']['shop_milestone'] }}
                </i>
            </p>
        </div>
        <div class="icon-text">
            <img src="/images/Chocolate_Bar.webp" alt="Chocolate Bar" width="30" height="30">
            <p class="color-a text-shadow">
                Chocolate bar bought
                <span class="color-f">
                    : {{ chocolate_data['misc']['chocolate_bar_counter'] }}
                </span>
            </p>
        </div>
    </div>
</div>

<div class="blurry-bg">
    {% set rabbit_rarity_colors = dict({
        "COMMON": "#ffffff",
        "UNCOMMON": "#3ffe3f",
        "RARE": "#3f3ffe",
        "EPIC": "#be00be",
        "LEGENDARY": "#d9a334",
        "MYTHIC": "#fe3ffe",
        "DIVINE": "#3ffefe",
    }) %}

    {% for rarity in chocolate_data['collection'] %}
        <div class="{{ rarity }}-rabbit-div">
        <h3 class="text-shadow color-f center">
            {% set count = namespace(value=0) %}
            {% for rab in chocolate_data['collection'][rarity] %}
                {% if rab['amount'] > 0 %}
                    {% set count.value = count.value + 1 %}
                {% endif %}
            {% endfor %}
            {{ rarity }} ({{ count.value }}/{{ chocolate_data['collection'][rarity] | length }})
        </h3>
            {% for rabbit in chocolate_data['collection'][rarity] %}
            <div class="icon-text rabbit-div" style="width: auto;">
                <img src="{{ rabbit['img'] }}" alt="{{ rabbit['name'] }}" width="30" height="30" loading="lazy">
                <p class="text-shadow color-f">
                    <span class="bold" style="color: {{ rabbit_rarity_colors[rabbit['rarity']] }}">
                         {{ rabbit['name'] }}
                    </span>
                    <span class="parenthesis">{{ rabbit['amount'] }}</span>
                </p>
            </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>

{% else %}
    <h3 class="center">Chocolate Factory data not found for this player.</h3>
{% endif %}
</div>

</div>
<script src="/script/app.js" type="application/javascript"></script>
</body>
</html>